@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    }
}

@layer utilities {
    .scrollbar-none {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollbar-none::-webkit-scrollbar {
        display: none;
    }

    .text-balance {
        text-wrap: balance;
    }
}